__pycache__
.cache_ggshield
.conda
.coverage
.ocp_vscode
.op/
.partcad
.pre-commit
.pytest_cache
.tox
.venv
.vs/
*.egg-info
*.prof
*.pyc
/partcad-cli/build
/partcad-cli/dist
/partcad/build
/partcad/dist
allure-report/
allure-results/
docs/build
output
test-results/
