__pycache__
.allure
.conda
.coverage
.ocp_vscode
.partcad
.pre-commit
.pytest_cache
.tox
.venv
*.egg-info
*.prof
*.pyc
/partcad-cli/build
/partcad-cli/dist
/partcad/build
/partcad/dist
allure-report/
allure-results/
docs/build
output
test-results/
