__pycache__
.allure
.conda
.coverage
.ocp_vscode
.partcad
.pytest_cache
.tox
.venv
*.egg-info
*.prof
*.pyc
/partcad-cli/build
/partcad-cli/dist
/partcad/build
/partcad/dist
docs/build
output
