-r ./docs/requirements.txt # --requirement
-r ./partcad/requirements.txt # --requirement
-r ./partcad-cli/requirements.txt # --requirement
black
flake8
isort
pytest
pytest-cov
#tox==4.9.0
sphinx
sphinx_rtd_theme
readthedocs-sphinx-search
