[run]
branch = True
concurrency = thread
include = */partcad/*, */partcad-cli/*
disable_warnings = already-imported
parallel = True
omit =
        */.partcad/*
        */sandbox/*

[report]
ignore_errors = True
