.vscode-test/**
coverage/**
**/node_modules/**
**/.venv/**
**/.nox/**
**/__pycache__/**
**/.pyc
**/bundled/libs/bin/**
**/.pytest_cache/**
**/requirements.in
**/tool/_debug_server.py
**/.conda/**
**/dist/**
**/build/**
**/out/**
